h1 {
    font-size: 2.5em;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}
p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666666;
    margin-bottom: 15px;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    background-color: #1db158;
    padding: 40px;
}
.Added {
    text-align: justify;
    color: rgb(71, 243, 255);
    font-size: 1em;
    margin-top: 20px;
    border: 3px solid black;
    padding: 10px;
    background-color: #000000;
}
.removed {
    border: 3px solid orange;
    background-color: #333333;
    color: orange;
    font-size: 1em;
    text-align: justify;
    margin-top: 20px;
    padding: 10px;
    position: relative;
}
.fixed {
    border: 3px solid yellow;
    background-color: #444444;
    color: yellow;
    font-size: 1em;
    text-align: justify;
    margin-top: 20px;
    padding: 10px;
}